@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'lato', serif;
}
.container{
    width: 1440px;
    height: 1394px;
    background: #fafafa;
}
.Dados-perfil{
    width: 369px;
    height: 344px;
}
.dados{
    gap: 8px;
    background-color: #FFF;
}
.bio{
    display: flex;
    width: 769px;
    height: 344px;
    padding: 16px;
    gap: 24px;
    background-color: #FFF ;
}
.perfil{
    display: flex;
    justify-content: row;
}