.flex {
    display: flex;
}

.coluna {
    flex-direction: column;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
}

li {
    list-style: none;
}

.container {
    max-width: 1400px;
    width: 100%;
}

.container-menor {
    max-width: 800px;
}

.azul {
    color:#2648A1 ;
}

.centralizar {
    justify-content: center;
    align-items: center;
}

.centralizar-horizontal {
    justify-content: center;
}

.alinhar-extremidades {
    justify-content: space-between;
}

.centralizar-vertical {
    align-items: center;
}

.gap {
    gap: 10px;
}

.alinhar-direita {
    text-align: right;
}

.alinhar-direita-2 {
    justify-content: flex-end;
}