@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reset e configurações base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .5s;
}

/* Utilitários */
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.w-100 {
    width: 100%;
}

.text-primary {
    color: #0F3679;
}

.fw-700 {
    font-weight: 700;
}

.through{
    text-decoration: line-through;
}

/* Componentes base */
html, body {
    max-height: 100%;
    height: 100%;
    font-family: "Roboto", serif;
}

button {
    all: unset;
    cursor: pointer;
    display: inline-block;
}

/* Header */
header {
    padding: 1rem 2rem;
    border-bottom: 1px solid #E5E7EB;
}

.user img {
    border-radius: 100%;
}

.user{
    position: relative;
}

.user::after{
    content: '';
    position: absolute;
    background-image: url('../imgs/Progress-Circle.svg');
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    right: 4px;
    top: -4px;
}

.btn-inscricao {
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    background: #F60;
    color: #FEFEFE;
    font-size: 0.875rem;
    font-weight: 500;
}

.btn-inscricao:hover {
    background: #FD8535;
    cursor: pointer;
}

/* Layout principal */
main {
    flex-grow: 1;
}

/* Sidebar esquerda */
.left-sidebar {
    border-right: 1px solid #E5E7EB;
    padding: 2.5rem 1.5rem;
    height: 100%;
    width: max-content;
}

.funcoes {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.user {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.user span {
    color: #0F3679;
    font-weight: 700;
}

.inscricao {
    display: flex;
    padding: 0.25rem 1rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.25rem;
    background: #F60;
    color: #FEFEFE;
    font-size: 0.875rem;
    font-weight: 500;
}

.inscricao:hover {
    background: #FD8535;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}

.menu picture {
    align-self: flex-end;
}

.container-icon {
    padding: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-menu:hover {
    background-color: #F2F9FD;
    transition: .5s;
}

.item-menu:active{
    transition: all 0ms !important;
}

.item-menu:active .container-icon{
    background-color: #0D5EAF;
    transition: all 0ms !important;
}

.item-menu:active img {
    filter: invert(100%) brightness(1000%) contrast(100%);
    transition: all 0ms !important;
}

.item-menu {
    display: flex;
}

.item-menu i {
    width: 24px;
    height: 24px;
}

.content-item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    color: #0D5EAF;
}

.menu-down {
    border-top: 1px solid #E5E7EB;
    padding-top: 1.5rem;
    margin-top: 100%;
}

.right-sidebar {
    background: #F2F9FD;
    padding: 48px 24px 32px;
    max-width: 18.875rem;
    width: 100%;
    margin-left: auto;
}

.content {
    display: flex;
    flex-direction: column;
}
