header {
    width: 100%;
    background: linear-gradient(265deg, #203C86 46.03%, #203C86 53.97%);
    color: #fff;
    padding: 12px 0px;
    height: 114px;
}

.section-topo {
    align-items: center;
}

header .section-topp .mensagem {
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
}

header .section-topo .redes-sociais {
    gap: 20px;
    height: 20px;
}

.linha-1 {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: 0.2;
}

header .configuracao {
    gap: 8px;
    padding: 10px;
}

header .configuracao span {
    background-color: #fff;
    width: 32px;
    height: 4px;
    ;

}

header .logo {
    align-items: center;
}

header menu {
    gap: 43px;
    margin: 0;
}

header li {
    font-size: 16px;
    padding-bottom: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

header .logo li:hover {
    font-weight: bold;
    border-bottom: 3px solid #FFC82C;
}

.container .conteudo-1 .title h1 {
    margin-top: 80px;
    font-size: 38px;
}

.container .title small {
    color: #4D535B;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;

}

.conteudo-1 .title h3 {
    font-style: italic;
    font-weight: 400;
    font-family: "Montserrat";
    font-size: 21px;
}

.conteudo-1 figure {
    margin: 74px 0;
}


main p {
    color: var(--Prata, #3C4858);
    font-family: Lato;
    font-size: 21px;
    font-weight: 400;
    line-height: 170%;
}

.container-menor p {
    margin-bottom: 76px;
}

.container .conteudo-1 .title-2 {
    margin-bottom: 35px;
}

.container small {
    font-family: "Montserrat";
    font-size: 14px;
}

.container h2 {
    margin: 0 0 7px 0;
    font-family: "Montserrat";
}

.container .conteudo-1 .title-2 .amarelo {
    display: block;
    width: 100px;
    height: 4px;
    background: var(--Gradiente-Laranja, linear-gradient(90deg, #E79A30 0.27%, #E8B743 99.65%));
}

.conteudo-2 p {
    max-width: 535px;
    margin: 0;
}

.container .conteudo-2 {
    width: 100%;
}

.container .conteudo-2 figure img {
    max-width: 100%;
    transform: scale(105%);
    margin-bottom: 10px;
}

.container .conteudo-2 figure figcaption {
    border: 1px solid #203C86;
    width: 439px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    font-family: "Montserrat";
}

.container .conteudo-2 figure figcaption h3 {
    margin: 0;
    font-size: 18px;
}

.container .conteudo-2 figure figcaption div {
    font-size: 13px;
}

.container .conteudo-3 {
    width: 100%;
    font-family: "Montserrat";
}

.container .card-image h3 {
    margin: 0;
    color: var(--Prata, #3C4858);
    font-family: "Montserrat";
    font-size: 18px;
}

.container .card-image .credito {
    color: var(--Prata, #3C4858);
    font-family: "Montserrat";
    font-size: 13px;
}

.card-image {
    margin: 0;
}

footer {
    width: 100%;
    color: #E0E6ED;
    margin-top: 110px;
    padding: 60px;
    background: var(--Linear, linear-gradient(130deg, #0D3F82 23.84%, #001736 73.02%));
}

footer .left {
    gap: 47px;
}

footer .left ul {
    gap: 24px;
}

footer .left ul li {
    gap: 8px;
}

footer .left ul .icons-2 {
    gap: 16px;
}

foo

footer .section-container {
    gap: 40px;
}

footer .right {
    background-color: #fff;
    padding: 32px 24px;
    gap: 37px;
    border-radius: 6px;
    flex-basis: 900px;
    height: 250px;
}

footer .right h3 {
    color: #1F2D3D;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

footer .right p {
    color: #8492A6;
}

footer .right button {
    border: none;
    background-color: #3A95E9;
    border-radius: 3px;
    padding: 12px 22px;
    color: #fff;
    gap: 27px;
}

footer .right button:hover {
    border: solid 3px #E8B743;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.15);
    ;
}


@media (max-width:556px) {

    header .section-top,
    header .linha-1,
    header nav {
        display: none;
    }

    header {
        height: 55px;
    }

    header .config span {
        display: block;
    }
    
    .container-menor{
        padding: 20px;
    }

    .container .fotos {
        width: 100%;  
        overflow-x: auto; 
        white-space: nowrap;
    }

    .conteudo-1 figure {
        padding-right: 20px ;
    }

    .container .conteudo-2 {
        flex-wrap: wrap-reverse;
        width: 100%;
    }

    .container img  {
        width: 100%;
    }

    footer {
        padding: 60px 0;
    }
    footer .section-container {
        flex-direction: column;
        padding: 20px;
    }
    
    footer .right {
        max-height: 150px;
    }

    figure {
        margin: 0;
    }
}


@media (min-width: 556px) {
    header .config {
        display: none; 
    }
}