.container{
    max-width: 1200px;
}
.block{ 
    display: block; 
}
.inline-block{
    display: inline-block;
}
.gap{
    gap: 10px;
}
.flex{
    display: flex;
}
.alinhar-esquerda{
    justify-content: start;
}
.alinhar-direita{
    justify-content: end;
}
.centralizar-horizontal{
    justify-content: center;
}
.centralizar-vertical{
    align-items: center;
}
.centralizar{
    justify-content: center;    
    align-items: center;
}

.alinhar-extremidades{
    justify-content: space-between;
}
.coluna{
    flex-direction: column;
}
.container-menor{
    max-width: 800px;
}