.container{
    min-width: 1400px;
}
.block{ 
    display: block; 
}
.inline-block{
    display: inline-block;
}
.gap{
    gap: 10px;
}
.flex{
    display: flex;
}
.flutuar-esquerda{
    justify-content: start;
}
.flutuar-direita{
    justify-content: end;
}
.centralizar-horizontal{
    justify-content: center;
}
.centralizar-vertical{
    align-items: center;
}
.centralizar{
    justify-content: center;    
    align-items: center;
}

.alinhar-extremidades{
    justify-content: space-between;
}